<br>
<form action='nearest' method='post' class="form-inline">
  <div class="form-group">
    <label for="zipcode">zip code</label>
    <input type="text" name="zipcode" id="zipcode" maxlength="10" size="5">
    <button type='submit' class='btn btn-default'>Find</button>
  </div> 
</form>
